[submodule "packages/elestyle-studio-components"]
	path = packages/elestyle-studio-components
	url = git@bitbucket.org:elestyle-web/elestyle-studio-components.git
[submodule "packages/elestyle-components"]
	path = packages/elestyle-components
	url = git@bitbucket.org:elestyle-web/elestyle-components.git
[submodule "packages/elestyle-studio"]
	path = packages/elestyle-studio
	url = git@bitbucket.org:elestyle-web/elestyle-studio.git
[submodule "packages/elestyle-studio-core"]
	path = packages/elestyle-studio-core
	url = git@bitbucket.org:elestyle-web/elestyle-studio-core.git
[submodule "packages/elestyle-studio-runtime"]
	path = packages/elestyle-studio-runtime
	url = git@bitbucket.org:elestyle-web/elestyle-studio-runtime.git
